* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Alice;
  src: url(../assets/fonts/Alice-Regular.ttf);
}

:root {
  --cor-principal: #333333;
  --cor-secundario: #d9cfc5;
  --cor-terciario: #635036;
  --cor--cuaternario:#e6e6e6;
  --fonte-principal: Montserrat;
  --fonte-secundaria: Alice;
}

body {
  background: var(--cor-principal);
  color: var(--cor-secundario);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body,
input,
button {
  font-size: 14px;
  font-family: var(--fonte-principal);
}

button {
  cursor: pointer;
}

/*// Header //*/

.header__logo {
  padding-top: 10px;
}

.nav-wrapper .nav__a:hover {
  color: var(--cor-terciario);
  background-color: var(
    --cor-secundario
  ) !important; /* Cambia esto al color que desees */
}

.header__sidenav {
  background-color: var(--cor-principal);
}

.btn--mercar{
  background-color: var(--cor-terciario)!important;
}

.sidenav .nav__a--mobile {
  color: var(--cor-secundario) !important;
}

.user-view img{
  padding-bottom: 20px;
}

/*// Estilos xerais //*/

.titular {
  font-family: var(--fonte-secundaria);
  font-size: 2rem;
  padding-bottom: 10px;
}

.textos {
  font-family: var(--fonte-principal);
  font-size: 1rem;
  margin-bottom: 20px;
}

.detalles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*// Inicio //*/

.inicio__detalles{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.inicio__p{
  padding-bottom: 30px;
}

.inicio__btn {
  background: var(--cor-secundario);
  border-radius: 8px;
  color: var(--cor-terciario);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  box-shadow: 0px 4px 10px black;
  transition: all 1s ease;
}

.inicio__mercar {
  margin-top: 40px;
}

.inicio__btn:hover {
  background-color: white;
  transition: all 1s ease;
}

.btn:focus {
  background-color: white;
}

.inicio__logos--casadellibro {
  width: 145px;
}

.inicio__logos--amazon {
  height: 40px;
  padding-right: 20px;
}

.inicio__icono {
  padding-right: 10px;
}

.inicio__img {
  width: 40vw;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  animation: upDown 3s linear infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.legal__texto{
  padding-top: 30px;
  font-size: .8rem;
}

.legal__links{
  padding: 20px 0px;
  color: var(--cor--cuaternario);
}

.legal__links a{
  text-decoration: none;
  color: var(--cor--cuaternario);
}

/*// Animaci贸ns inicio /*/

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  opacity: 0.3;
  border-width: 5px;
  border-style: solid;
}

.x1 {
  animation: movementoCircle 25s linear infinite;
  top: 150px;
}

.x2 {
  left: 200px;
  top: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: movementoCircle 35s linear infinite;
  -moz-animation: movementoCircle 35s linear infinite;
  -o-animation: movementoCircle 35s linear infinite;
}

.x3 {
  left: -250px;
  bottom: 250px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: movementoCircle 40s linear infinite;
  -moz-animation: movementoCircle 40s linear infinite;
  -o-animation: movementoCircle 40s linear infinite;
}

.x4 {
  left: 470px;
  bottom: 300px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  animation: movementoCircle 45s linear infinite;
}

.x5 {
  left: -150px;
  bottom: 100px;
  transform: scale(0.8);
  animation: movementoCircle 50s linear infinite;
}

@keyframes movementoCircle {
  0%{
    margin-left: 1000px;
  }
  100%{
    margin-left: -1000px;
  }
}

@-webkit-keyframes movementoCircle {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@-moz-keyframes movementoCircle {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes movementoCircle {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}


/*// Presentaci贸n //*/

.presentacion {
  width: 100vw;
  background-color: var(--cor--cuaternario);
  padding: 40px 0px;
}

.presentacion__video {
  border-radius: 8px;
  box-shadow: 0px 4px 10px black;
}

.presentacion__detalles {
  padding-left: 40px;
}

.presentacion__h2 {
  color: var(--cor-terciario);
  margin-top: 0px;
}

.presentacion__p {
  color: var(--cor-terciario);
  margin: 0px;
}

/*// Roteiros //*/

.roteiros {
  padding: 40px 0px;
}

.roteiros__btn {
  background: var(--cor-secundario);
  border-radius: 8px;
  color: var(--cor-terciario);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px black;
  transition: all 1s ease;

}

.roteiros__btn:hover {
  background-color: white;
  transition: all 1s ease;

}

/*// Contido //*/

.contido {
  background: url(../assets/img/mapa_comarca_salnes_medieval.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px;
}

.contido__card {
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
  rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  cursor: pointer;
  border-radius: 8px;
  padding: 20px;
  transform: scale(1, 1) translateZ(0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 8px;
  height: 220px;
}

.contido__card:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
    rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.contido__imaxe{
  justify-content: center;
}

.contido__numeros{
  padding: 10px;
}

.contido__superindice{
  font-size: .8rem;
  color: var(--cor-terciario);
  margin: 0px;
}

.contido__titulo{
  margin-top: 0px;
  font-size: 2rem;
  color: var(--cor-terciario);
  font-family: var(--fonte-secundaria);
}

.contido__p{
  font-size: 1rem;
  color: var(--cor-terciario);
}


/*// Autor //*/

.autor{
  padding: 40px 0px;
  background-color: var(--cor-principal);
}

.autor__presentacion{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autor__imaxe{
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
  rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  border-radius: 22px;
}

.autor__h4{
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.autor__p{
  font-size: 1rem;
  font-family: var(--fonte-principal);
}

.autor__detalle{
  margin-top: 40px;
}

.autor__descripcion{
  column-count: 2;
  column-gap: 20px;
}


/*// Mercar //*/

.mercar{
  background:var(--cor--cuaternario);
  padding: 40px 0px;
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
}

.mercar__h1{
  font-size: 2.5rem;
  color: var(--cor-terciario);
  margin: 10px 0px;
  font-family: var(--fonte-secundaria);
}

.mercar__btn{
  background: var(--cor-secundario);
  border-radius: 8px;
  color: var(--cor-terciario);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  box-shadow: 0px 4px 10px black;
  margin: 20px;
  transition: all 1s ease;

}

.mercar__btn:hover {
  background-color: white;
  transition: all 1s ease;

}

/*// Contacto //*/

.contacto{
  padding: 40px 0px;
}

.contacto__detalles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto__logo{
  width: 140px;
}

.contacto__titulo{
font-size: 1.1rem;
font-weight: 700;
color: var(--cor--cuaternario);
padding: 20px 0px;
}

.contacto__autor{
  font-size: 1rem;
  color: var(--cor--cuaternario);
}

.contacto__social{
  padding: 40px 0px;
}

.contacto__a{
  padding: 0px 10px;
}

.contacto__correo{
  text-decoration: none;
  color: var(--cor-principal);
  background-color: var(--cor-secundario);
  padding: 10px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px black;
  transition: all 1s ease;
}

.contacto__correo:hover {
  background-color: white;
  transition: all 1s ease;
}

/*//Footer //*/

.footer__p{
  text-align: center;
  padding: 10px 0px;
}

.footer__span{
  font-weight: 700;
}

/*// Modal //*/

.cookies {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.cookies__h4{
  color: var(--cor-terciario);
  font-size: 2rem;
  font-family: var(--fonte-secundaria);
}

.cookies__p{
  color: var(--cor-terciario);
}

.cookies__aceptar{
  background: var(--cor-secundario);
  border-radius: 8px;
  color: var(--cor-terciario);
  border: 0px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  box-shadow: 0px 4px 10px black;
  margin: 20px;
  transition: all 1s ease;
}

.cookies__rechazar{
  background: var(--cor-secundario);
  border-radius: 8px;
  color: var(--cor-terciario);
  border: 0px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  box-shadow: 0px 4px 10px black;
  margin: 20px;
  transition: all 1s ease;
}

/*// Bot贸n arriba UP //*/

.btn-floating{
  background-color: var(--cor-terciario);
}

/*// Informaci贸n legal //*/

.informacionlegal{
  text-align: center;
  padding: 40px 0px;
}


/*// Media querys //*/


@media screen and (max-width:500px) {
  
  .inicio__img{
    width: 100%;
    padding-top: 30px;
  }

  .inicio__btn{
    width: 100%;
  }

  .circle{
    display: none;
  }

  .presentacion__h2{
    padding-top: 20px;
  }

  .roteiros__img{
    padding-top: 40px;
  }

  .autor__descripcion{
    column-count:1;
  }
  
  .mercar__h1{
    text-align: center;
  }

  .mercar__btn{
    width: 80%;
    line-height: 1;
  }

  .cookies{
    width: 90%;
  }

  .cookies__aceptar{
    justify-content: center;
  }

  .cookies__rechazar{
    justify-content: center;
  }
}


/*// Aviso legal //*/

.avisolegal{
  margin-bottom: 20px;
}

.avisolegal__h1{
  font-size: 2rem;
  font-family: var(--fonte-secundaria);
}

.avisolegal__h3{
  font-size: 1.5rem;
  font-family: var(--fonte-principal);
}

.avisolegal__p{
  font-size: 1rem;
  font-family: var(--fonte-principal);
}